<launch>
    <!-- Define robot IDs -->
    <arg name="robot1_id" default="robot"/>
    <arg name="robot2_id" default="robot_b"/>
    <arg name="robot3_id" default="robot_c"/>

    <node pkg="multi_robot_load_tasks" type="multi_robot_handler.py" name="multi_robot_handler" output="screen">
    </node>

    <!-- Spawn Set for Robot 1 -->
    <group ns="$(arg robot1_id)">
        <node pkg="multi_robot_load_tasks" type="spawn_movement_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot1_id)" />
        </node>
<!-- 
        <node pkg="multi_robot_load_tasks" type="spawn_manipulation_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot1_id)" />
        </node> -->

        <node pkg="multi_robot_load_tasks" type="spawn_robot.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot1_id)" />
        </node>

    </group>

    <!-- Spawn Set for Robot 2 -->
    <group ns="$(arg robot2_id)">
        <node pkg="multi_robot_load_tasks" type="spawn_movement_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot2_id)" />
        </node>

        <!-- <node pkg="multi_robot_load_tasks" type="spawn_manipulation_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot2_id)" />
        </node> -->

        <node pkg="multi_robot_load_tasks" type="spawn_robot.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot2_id)" />
        </node>
    </group>

    <!-- Spawn Set for Robot 3 -->
    <group ns="$(arg robot3_id)">
        <node pkg="multi_robot_load_tasks" type="spawn_movement_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot3_id)" />
        </node>

        <!-- <node pkg="multi_robot_load_tasks" type="spawn_manipulation_service.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot3_id)" />
        </node> -->

        <node pkg="multi_robot_load_tasks" type="spawn_robot.py" name="" output="screen">
            <param name="~robot_id" value="$(arg robot3_id)" />
        </node>
    </group>

</launch>

